:root {
    --button-background-color: rgba(255,255,255,.0605);
    --button-background-color-hover: rgba(255,255,255,.0837);
    --button-border-color: rgba(255,255,255,0.07);

    --color-subtile-secondary: rgba(255,255,255,.0605);
    

    --color-layer: rgba(58, 58, 58, 0.3);

    --color-border: rgba(0, 0, 0, 0.2);

    --color-accent: rgb(38, 255, 142);

    --color-text: rgba(255,255,255,1);
    --color-text-secondary: rgba(255,255,255,.786);
}


    /*   Fonts   */


@font-face {
    font-family: 'Segoe UI Local';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Segoe UI.ttf') format('truetype');
}
@font-face {
    font-family: 'Segoe UI Local';
    font-style: italic;
    font-weight: normal;
    src: url('fonts/Segoe UI Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Segoe UI Local';
    font-style: bold;
    font-weight: bold;
    src: url('fonts/Segoe UI Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Segoe UI Local';
    font-style: italic;
    font-weight: bold;
    src: url('fonts/Segoe UI Bold Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe Fluent Icons Local';
    src: url("fonts/Segoe UI Icons.ttf") format('truetype');
}


    /*   Global   */


* {
    font-family: "Segoe UI Local";
    color: var(--color-text);
}


img {
    border-radius: 10px;
}


    /*   Button   */


.button {
    background-color: var(--button-background-color);
    border-color: var(--button-border-color);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 5px 15px;
    margin: 5px 15px;
    text-decoration: none;
    font-weight: n;
    user-select: none;

    transition: background-color 100ms linear;
}
.button:hover {
    background-color: var(--button-background-color-hover);
}


    /*   Info Boxes   */


.info-box, .warning-box {
    background-color: rgba(0, 150, 150, 0.0526);
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
}
.info-box b, .warning-box b {
    padding: 10px;
}
.info-box::before, .warning-box::before {
    background-color: rgb(96, 205, 255);
    font-family: "Segoe Fluent Icons Local";
    padding: 3px;
    content: "";
    border-radius: 100%;
    color: rgb(39, 39, 39);
    font-weight: bold;
    font-size: smaller;
}

.warning-box {
    background-color: rgb(67, 53, 25);
}
.warning-box::before {
    background-color: rgb(252, 225, 0);
    color: rgb(39, 39, 39);
}


    /*   Debug   */


#debug1, #debug-version {
    display: none;
}
#debug-version::after {
    content: " | css 2";
}


    /*   Content   */


header {
    top: 0;
    display: flex;
    padding: 5px 10px 0;
    position: sticky;

    z-index: 2;


    background-color: var(--color-layer);
    backdrop-filter: blur(3rem);

    margin: 0 10px 0 0;
    padding: 5px;

    border-radius: 0 0 10px 0;
    border-color: var(--color-border);
    border-width: 2px;
    border-style: solid;
    border-top-style: none;
    border-left-style: none;

    box-shadow: 0px 5px 0px var(--color-border);
}
header h1 {
    font-weight: normal;
    font-size: 20px;
    align-self: center;
    margin-left: 10px;
    text-wrap: nowrap;
}
#menu-button {
    display: none;

    font-family: "Segoe Fluent Icons Local";
    background-color: rgba(0,0,0,0);
    transition: background-color 100ms linear;
    padding: 15px;

    text-align: center;
    align-self: center;

    border-radius: 5px;
    border: 0;

    user-select: none;
    cursor: pointer;
}
#menu-button:hover {
    background-color: var(--color-subtile-secondary);
}


body {
    background: linear-gradient(
      217deg,
      rgba(13, 15, 24, 0.641),
      rgba(16, 22, 39, 0.715) 70.71%
    ),
    linear-gradient(127deg, rgb(11, 18, 49), rgba(11, 24, 53, 0.493) 70.71%),
    linear-gradient(336deg, rgb(14, 24, 45), rgba(7, 17, 45, 0.558) 70.71%);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    background-image: url("https://res.cloudinary.com/vestbee/image/upload/c_scale,q_100,w_720/v1694178262/cyber_hero_1_voewzs.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
main {
    display: flex;
    flex: 1;
}
section {
    background-color: var(--color-layer);
    backdrop-filter: blur(1rem);

    flex: 1;

    margin: 10px;
    padding: 20px;

    border-radius: 10px;
    border-color: var(--color-border);
    border-width: 2px;
    border-style: solid;
}


footer {
    display: flex;
    flex-direction: column;

    background-color: var(--color-layer);
    backdrop-filter: blur(1rem);

    margin: 0 10px 0 0;
    padding: 10px;

    border-radius: 0 10px 0 0;
    border-color: var(--color-border);
    border-width: 2px;
    border-style: solid;
    border-bottom-style: none;
    border-left-style: none;
}


/*      Side Menu
        Side Menu
        Side Menu       */


#side-menu {
    width: 260px;

    background-color: var(--color-layer);
    backdrop-filter: blur(3rem);

    margin: 10px 0;
    padding: 10px;

    border-radius: 0 10px 10px 0;
    border-color: var(--color-border);
    border-width: 2px;
    border-style: solid;
    border-left-style: none;

    z-index: 1;

    display: flex;
    flex-direction: column;
    transition: transform 0.5s cubic-bezier(0.75,0.2,0.05,1.0);
    transform: translate(0,0);
}
nav {
    padding: 5px;
    user-select: none;
    display: flex;
    flex-direction: column;
    float: left;    

    top: 70px;
    position: sticky;
}


    /*  Navigation Buttons    */


.navigation-button-selected b, .navigation-button-unselected b {
    font-family: "Segoe Fluent Icons Local";
    padding: 3px;
    margin: 0 10px 0 0;
}
.navigation-button-selected, .navigation-button-unselected {
    display: flex;
    font-size: 16px;
    background-color: none;
    color: var(--color-text-secondary);
    padding: 10px 15px;
    border-radius: 7px;
    border-style: none;
    text-decoration: none;
    margin: 3px;

    transition: color 100ms linear;
    transition: background-color 100ms linear;
}
.navigation-button-selected, .navigation-button-unselected:hover {
    background-color: var(--color-subtile-secondary);
    color: var(--color-text);
}

.navigation-button-selected::before, .navigation-button-unselected::before {
    float: left;
    content: ".";
    background-color: none;
    width: 3px;
    height: 100%;
    transform: translate(-15px, 0);
    color: #00000000;
    border-radius: 10px;
}
.navigation-button-selected::before {
    background-color: var(--color-accent);
}


/* Hobby Cards */


.hobby-cards {
    display: flex;
    gap: 10px;
    float: left;
}

.hobby-cards div {
    background-color: var(--color-layer);
    backdrop-filter: blur(1rem);

    width: 150px;
    padding: 10px;

    border-radius: 10px;
    border-color: var(--color-border);
    border-width: 2px;
    border-style: solid;

    display: flex;
    flex-direction: column;
}
.hobby-cards img { 
    padding: 10px;
}
.hobby-cards span { 
    text-align: center;
}


    /*  Screen Adaptation   */
    
@media only screen and (max-width: 1100px) {
    .hobby-cards {
        display: grid;

        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
}

@media only screen and (max-width: 960px) {
    .body_title {
        font-weight: bold;
    }
    #side-menu {
        transform: translate(-100%, 0);
        width: 400px;
        position: fixed;
    }
    #menu-button {
        display: block;
    }
    header {
        border-radius: 0 0 10px 10px;
        margin: 0 10px;
        border-top-style: none;
    }
    footer {
        border-radius: 10px 10px 0 0;
        margin: 0 10px;
        border-bottom-style: none;
    }
    .navigation-button-unselected, .navigation-button-unselected:hover, .navigation-button-selected {
        font-size: 24px;
        padding: 20px 25px;
    }
    .navigation-button-selected::before, .navigation-button-unselected::before {
        transform: translate(-25px, 0);
        width: 7px;
    }
    ul {
        padding: 0 0 0 30px;
        margin: 0;
    }
    li::marker {
        content: "   ";
        font-family: "Segoe Fluent Icons Local";
    }
}

@media only screen and (max-width: 560px) {
    .body_title {
        font-size: 12px;
    }
    #side-menu {
        width: 90%;
    }
    .navigation-button-selected::before, .navigation-button-unselected::before {
        transform: translate(-23px, 0);
        width: 7px;
    }
    .navigation-button-unselected, .navigation-button-unselected:hover, .navigation-button-selected {
        font-size: 18px;
        padding: 18px 23px;
    }
    .button {
        font-size: smaller;
    }
}